In [1]:
import pandas as pd

movies = pd.read_csv("movies.csv")

In [2]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

with this we can create movi search engine

with rating.csv, we create recommendation system

we user re library to clean movie title

In [3]:
import re

def clean_title(title):
    return re.sub("[^a-zA-Z0-9 ]", "", title)

#removes everything except specified fields form the title

In [4]:
movies["clean_title"] = movies["title"].apply(clean_title)

In [5]:
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
62418,209157,We (2018),Drama,We 2018
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul 2001
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems 2018
62421,209169,A Girl Thing (2001),(no genres listed),A Girl Thing 2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island 1962

For Search engine

convert title of movies into sets of number so that computer can search for similar

for example:

3 movies

The 
Harry The Potter
The Harry

if the word occurs, we create frequency column for the title

than, we use inverse document frequency to check for uniqueness

at the end is a vector(number) for each movie title, that best describes the title

for search, turns the title into number and compares it with other titles and finds the most similar from a similarity matrix

we can import it TfidfVectorizer, that does vectorization of all the data

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range=(1,2))

#ngram is used so that instead of  a single key for a search, we can use combination as well for accuracy
#for eg. in a girl thing 2001, instead of searching for each phrase one by one, it searches for in a, a girl, girl thing, thing 2001 as well 

tfidf = vectorizer.fit_transform(movies["clean_title"])

For search, computing similarity for functions, we use cosine similarity from sklearn

In [7]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

#def search(title):

title = "Harry Potter"
title = clean_title(title)
query_vec = vectorizer.transform([title])

In [8]:
query_vec

<1x170073 sparse matrix of type '<class 'numpy.float64'>'
	with 3 stored elements in Compressed Sparse Row format>

turns harry potter intp sparse matrix

In [9]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

#def search(title):

title = "Men 1995"
title = clean_title(title)
query_vec = vectorizer.transform([title])
similarity = cosine_similarity(query_vec, tfidf).flatten()

In [10]:
similarity

array([0.113662  , 0.12665159, 0.57464617, ..., 0.        , 0.        ,
       0.        ])

shows similarity for the title as array

now for greatest similarity

we use numpy function np.argpartition(similarity, -5)[-5:]  gives 5 most similar titles for search term

In [11]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

#def search(title):

title = "Toy STory"
title = clean_title(title)
query_vec = vectorizer.transform([title])
similarity = cosine_similarity(query_vec, tfidf).flatten()
indices = np.argpartition(similarity, -5)[-5:]
results = movies.iloc[indices][::-1]

#in iloc, the most similar result is at last due to most matching, and hence, we user [::-1] to reverse the results given
#most similar movie at top
#indices gives 5 most similar and results iloc shows the movies as results

In [12]:
results

,movieId,title,genres,clean_title
3021,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
14813,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,Toy Story 3 2010
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
59767,201588,Toy Story 4 (2019),Adventure|Animation|Children|Comedy,Toy Story 4 2019
20497,106022,Toy Story of Terror (2013),Animation|Children|Comedy,Toy Story of Terror 2013

Now as a function

In [13]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def search(title):
    title = clean_title(title)
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec, tfidf).flatten()
    indices = np.argpartition(similarity, -5)[-5:]
    results = movies.iloc[indices][::-1]
    
    return results

import ipywidgets as widgets
from IPython.display import display

to type in movie name and see result in jupyter


form just input widget, we get a static text box
to make it relevent, we need to hook it to a output widget

In [14]:
import ipywidgets as widgets
from IPython.display import display

movie_input = widgets.Text(
    value = "Toy Story",
    description = "Movie Title",
    disabled = False
)

movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            display(search(title))

            
movie_input.observe(on_type, names='value')

display(movie_input, movie_list)

Text(value='Toy Story', description='Movie Title')

Output()

now for recommendation system

In [15]:
ratings = pd.read_csv("ratings.csv")

In [16]:
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [17]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

search for user who liked hulk and movies they liked again

In [18]:
movie_id = 1

In [19]:
similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique()

##here we take unique user id that have watched the same movie and gave 5 rating

In [20]:
similar_users

array([    36,     75,     86, ..., 162527, 162530, 162533], dtype=int64)

In [21]:
similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]

we wxtraxt movie id, as that connects the two dataset we are using

In [22]:
similar_user_recs

5101            1
5105           34
5111          110
5114          150
5127          260
            ...
24998854    60069
24998861    67997
24998876    78499
24998884    81591
24998888    88129
Name: movieId, Length: 1358326, dtype: int64

since we have got many recommendation, so we narrow that down to 10% or more of users that are similar to us liked

In [23]:
similar_user_recs.value_counts()

1         18835
318        8393
260        7605
356        6973
296        6918
          ...
128478        1
125125        1
119701        1
107563        1
7625          1
Name: movieId, Length: 19282, dtype: int64

In [24]:
similar_user_recs = similar_user_recs.value_counts() / len(similar_users)

similar_user_recs = similar_user_recs[similar_user_recs > .01]

In [25]:
similar_user_recs

1        1.000000
318      0.445607
260      0.403770
356      0.370215
296      0.367295
           ...
46972    0.010035
74789    0.010035
52722    0.010035
63859    0.010035
98154    0.010035
Name: movieId, Length: 1373, dtype: float64

In [26]:
#many of the movies are generic movies, so we have to get movies that people similar to us liked

In [27]:
all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]

In [28]:
all_users

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
2              1      307     5.0  1147868828
8              1     1237     5.0  1147868839
19             1     2692     5.0  1147869100
23             1     3949     5.0  1147868678
...          ...      ...     ...         ...
25000085  162541     8983     4.5  1240953211
25000086  162541    31658     4.5  1240953287
25000089  162541    45517     4.5  1240953353
25000090  162541    50872     4.5  1240953372
25000094  162541    63876     5.0  1240952515

[4625484 rows x 4 columns]

In [29]:
#finding what % of user recommend each of these moveis

In [30]:
all_users_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

In [31]:
#movies that are high in similar recs that all user recs as that is a generic movie, what we want is a niche movie
#movie that people similar to us like than others

In [32]:
all_users_recs

318      0.323097
296      0.268766
2571     0.230397
356      0.222119
593      0.213284
           ...
95858    0.003114
46972    0.003070
72737    0.002870
63859    0.002826
2090     0.002557
Name: movieId, Length: 1373, dtype: float64

In [33]:
rec_percentages = pd.concat([similar_user_recs, all_users_recs], axis=1)
rec_percentages.columns = ["similar", "all"]

In [34]:
rec_percentages

        similar       all
1      1.000000  0.117758
318    0.445607  0.323097
260    0.403770  0.209790
356    0.370215  0.222119
296    0.367295  0.268766
...         ...       ...
46972  0.010035  0.003070
74789  0.010035  0.005014
52722  0.010035  0.003826
63859  0.010035  0.002826
98154  0.010035  0.003758

[1373 rows x 2 columns]

now recommendation score for the movies

In [35]:
rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]

In [36]:
rec_percentages = rec_percentages.sort_values("score", ascending=False)

In [37]:
rec_percentages

        similar       all     score
1      1.000000  0.117758  8.491956
3114   0.280648  0.050705  5.534955
2355   0.110539  0.023689  4.666206
78499  0.152960  0.033167  4.611749
2687   0.033767  0.007578  4.456175
...         ...       ...       ...
714    0.011415  0.009503  1.201165
3910   0.012371  0.010379  1.191943
1464   0.010725  0.009247  1.159821
92259  0.046403  0.040370  1.149446
7371   0.011256  0.010241  1.099081

[1373 rows x 3 columns]

In [38]:
rec_percentages.head(10).merge(movies, left_index=True, right_on = "movieId")

,similar,all,score,movieId,title,genres,clean_title
0,1.000000,0.117758,8.491956,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
3021,0.280648,0.050705,5.534955,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
2264,0.110539,0.023689,4.666206,2355,"Bug's Life, A (1998)",Adventure|Animation|Children|Comedy,Bugs Life A 1998
14813,0.152960,0.033167,4.611749,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,Toy Story 3 2010
2595,0.033767,0.007578,4.456175,2687,Tarzan (1999),Adventure|Animation|Children|Drama,Tarzan 1999
2203,0.024900,0.005921,4.205626,2294,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy,Antz 1998
1510,0.030634,0.007478,4.096872,1566,Hercules (1997),Adventure|Animation|Children|Comedy|Musical,Hercules 1997
10810,0.033767,0.008259,4.088482,45517,Cars (2006),Animation|Children|Comedy,Cars 2006
2001,0.010406,0.002557,4.069495,2090,"Rescuers, The (1977)",Adventure|Animation|Children|Crime|Drama,Rescuers The 1977
14050,0.011521,0.002870,4.014716,72737,"Princess and the Frog, The (2009)",Animation|Children|Fantasy|Musical|Romance,Princess and the Frog The 2009

recommendation function for all combined file

In [39]:
def find_similar_movies(movie_id):
    
    similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique()
    similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]
    similar_user_recs = similar_user_recs.value_counts() / len(similar_users)

    similar_user_recs = similar_user_recs[similar_user_recs > .10]
    all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]
    all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
    rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1)
    rec_percentages.columns = ["similar", "all"]
    
    rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]
    rec_percentages = rec_percentages.sort_values("score", ascending=False)
    return rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")[["score", "title", "genres"]]

Finally a combined widget

In [40]:
import ipywidgets as widgets
from IPython.display import display

movie_name_input = widgets.Text(
    value = "Toy Story",
    description = "Movie Title",
    disabled = False
)

recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            results = search(title)
            movie_id = results.iloc[0]["movieId"]
            display(find_similar_movies(movie_id))
            
movie_name_input.observe(on_type, names='value')

display(movie_name_input, recommendation_list)

Text(value='Toy Story', description='Movie Title')

Output()